@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="alert alert-danger">
    <p>Mã sinh viên: 2310900089</p>
    <p>Họ tên: Lê Ngọc Sơn</p>
    <p>Lớp: K23CNT1-NET</p>
    <p>Email: ngocson@gmail.com</p>
    <p>Điện thoại: 034.328.8214</p>
</div>
